<div id='group'>
    <% if @clients.any? %>
        <div class='client-list'>
            <div class='row'>
                <% @clients.each do |client| %>
                    <div class='col-xs-12 col-md-6'>
                        <div class='client'>
                            <div class='client-thumbnail <%= 'inactive' unless client.active? %>'>
                                <img src="data:image/jpg;base64,<%= client.thumbnail %>" />
                            </div>

                            <div class='client-name'>
                                <div class='name'>
                                    <%= client.display_name(true) %>
                                </div>

                                <% unless client.active? %>
                                    <div class='activity text-warning'>
                                        <b>Last Activity: </b>
                                        <%= client.last_activity %>
                                    </div>
                                <% end %>

                                <span class='look'>
                                    <a href='/clients/<%= client.id %>' class='btn btn-lg btn-primary'>Look</a>
                                </span>

                                <span class='edit'>
                                    <a href='/clients/<%= client.id %>/edit' class='btn btn-lg btn-primary'>Edit</a>
                                </span>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    <% else %>
        <div class='no-clients'>No clients</div>
    <% end %>

    <div class='actions text-center'>
        <span class='back'>
            <a href='/' class='btn btn-lg btn-primary'>Back to Group list</a>
        </span>

        <span class='destroy'>
            <a href='/groups/<%= @group.primary_key %>/destroy' class='confirm btn btn-lg btn-danger' title='Are you sure you want to delete this group?'>Delete Group</a>
        </span>
    </div>
</div>
