<% if @clients.any? %>
    <div class='client-list'>
        <div class='row'>
            <% @clients.each do |client| %>
                <div class='col-xs-12 col-md-6'>
                    <div class='client'>
                        <div class='client-thumbnail <%= 'inactive' unless client.active? %>'>
                            <img src="data:image/jpg;base64,<%= client.thumbnail %>" />
                        </div>

                        <div class='client-name'>
                            <div class='name'>
                                <%= client.display_name(true) %>
                            </div>

                            <div class='look'>
                                <a href='/<%= client.primary_key %>' class='btn btn-lg btn-primary'>Look</a>
                            </div>

                            <div class='manage'>
                                <a href='/<%= client.primary_key %>/manage' class='btn btn-lg btn-primary'>Manage</a>
                            </div>

                            <div class='destroy'>
                                <a href='/<%= client.primary_key %>/destroy' class='btn btn-danger'>Remove</a>
                            </div>

                            <% if not client.active? %>
                                <div class='activity text-warning'>
                                    <b>Last Activity: </b>
                                    <%= client.last_activity %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
<% else %>
    <div class='no-clients'>No clients</div>
<% end %>

<div class='refresh text-center'>
    <a href='javascript:location.reload()' class='btn btn-lg btn-primary'>Refresh</a>
</div>
