<div id='client'>
    <div class='img-container <%= 'inactive' unless @client.active? %>'>
        <img id='image' src="data:image/jpg;base64,<%= @client.image %>" class='img-responsive' />

        <% if @client.active? %>
            <div id='timer'>
                <i class='fa fa-dashboard'></i>
                <span></span>
            </div>
        <% end %>
    </div>

    <div class='name'>
        <%= @client.display_name %>
    </div>

    <div id='client-actions'>
        <span class='back'>
            <a href='javascript:history.back(1)' class='btn btn-lg btn-primary'><i class='fa fa-reply'></i> Back</a>
        </span>
        <span class='edit'>
            <a href='/clients/<%= @client.primary_key %>/edit' class='btn btn-lg btn-primary'><i class='fa fa-edit'></i> Edit</a>
        </span>
    </div>
</div>

<% if @client.active? %>
    <script type='text/javascript'>
        window.client_id = '<%= @client.primary_key %>';
        $(document).ready(window.update_client);
    </script>
<% end %>
